@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "DM Sans", sans-serif;
  --font-serif: "Lora", serif;

  --color-cream: #FAF7F2;
  --color-sand: #F0E8D8;
  --color-soft: #D4B896;
  --color-bark: #8B6340;
  --color-terra: #C4622D;
  --color-ember: #E8874A;
  --color-ink: #2C1A0E;
  --color-muted: #7A6555;
  --color-warm-white: #FDFAF5;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: var(--font-sans);
  }
}